<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chainex - A Blockchain written in Elixir</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
        <h1 class="logo">Chainex</h1>
        <p>A toy Elixir blockchain</p>
        <div class="menu">
            <a href="/explorer">Explorer</a>
            <a href="/help">Help</a>
        </div>
    </div>
  </body>
</html>
